# Netbeans
/nbproject/
/manifest.mf
/nbdist/
/build/
/lib/nblibraries.properties
/build.xml
*nb-configuration.xml
*nbactions.xml

# Build Maven
/src/client/target/
/src/common/target/
/src/server/target/

# Eclipse
bin/

# Lib
/lib/CopyLibs/
/lib/hamcrest/
/lib/junit_4-2/junit-4.12-javadoc.jar
/lib/junit_4-2/junit-4.12.jar
/lib/junit_4-2/junit-4.12-sources.jar

# Database
assets/server/Database.db
assets/server/TestDatabase.db
/.project
/.classpath
/src/server/nbproject/

# Somewhere in the outerspace
dependency-reduced-pom.xml
