# Netbeans
/nbproject/
/manifest.mf
/nbdist/
/build/
/lib/nblibraries.properties
/build.xml

# Lib
/lib/CopyLibs/
/lib/hamcrest/
/lib/junit_4-2/junit-4.12-javadoc.jar
/lib/junit_4-2/junit-4.12.jar
/lib/junit_4-2/junit-4.12-sources.jar
